{% extends "::base.html.twig" %}

{% block title %}Edd Homepage{% endblock %}

{% block body %}
<h3>Welcome to the EDD Homepage</h3>

<a href="{{ path('create_user') }}"><p>Create User</p></a>
{% endblock %}
