{% extends "::base.html.twig" %}

{% block title %}EDD Users{% endblock %}

{% block body %}
    <h3>EDD Users</h3>

    {% if users|length >0 %}

        <ul id="users_list">
            {% include 'EDDUserBundle:User:showUser.html.twig' %}
        </ul>

        {% if app.request.attributes.get('_route') == 'load_user_ajax' %}
            <button id="more">more user</button>
        {% endif %}

    {% else %}
        <p>No users in Database</p>
    {% endif %}
    <a href="{{ path('index') }}">Back</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }} {# Get the parent Block in base.html.twig #}
    {% javascripts filter='uglifyjs2' output='js/compiled/load.js'
    '@EDDUserBundle/Resources/public/js/load.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}