{% extends "::base.html.twig" %}

{% block title %}EDDUserBundle:User:readUser{% endblock %}

{% block body %}
<h3>{{ user.username }}'s profile</h3>

    <ul>
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
    </ul>

    <a href="{{ path('readUsers') }}">Back</a>


{% endblock %}
